# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.dist/
.build/
.builds/
.cache/
.pytest_cache/
.mypy_cache/
.pytype/
.venv/
venv/
ENV/

# Jupyter / IPython
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables
.env
.env.*

# Data / artifacts
data/
artifact/

# Logs
*.log